# if

In [1]:
print(True and True)

True

In [2]:
print(False and True)

False

In [3]:
x = 7
y = 2
print(not(x>y and x<y or True))

False

In [4]:
x = input("Enter some value of x \t")
y = int(x)
if y >10:
    print("Hello")
    print("another statement")

Enter some value of x 	41
Hello
another statement

In [5]:
x = 9
if x > 10:
    print("hello")
else:
    print("world")

world

In [6]:
x = 10
y = 12
if x > y:
    print("x>y")
elif x < y:
    print("x<y")
else:
    print("x=y")

x<y

if statement inside a if statement or if-elif or if-else are called as nested if statements.

# Loops

In [7]:
for i in range(5):
    print (i)

0
1
2
3
4

In the above example, i iterates over the 0,1,2,3,4. Every time it takes each value and executes the algorithm inside the loop. It is also possible to iterate over a nested list illustrated below.

In [8]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for list1 in list_of_lists:
        print(list1)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

A use case of a nested for loop in this case would be,

In [9]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for list1 in list_of_lists:
    for x in list1:
        print (x)

1
2
3
4
5
6
7
8
9

# while

In [10]:
i = 1
while i < 3:
    print(i ** 2)
    i = i+1
print('Bye')

1
4
Bye

# break

As the name says. It is used to break out of a loop when a condition becomes true when executing the loop.

In [11]:
for i in range(100):
    print (i)
    if i>=7:
        break

0
1
2
3
4
5
6
7

# continue

This continues the rest of the loop. Sometimes when a condition is satisfied there are chances of the loop getting terminated. This can be avoided using continue statement.

In [12]:
for i in range(10):
    if i>4:
        print("The end.")
        continue
        print (i)

The end.
The end.
The end.
The end.
The end.

# List Comprehensions

Python makes it simple to generate a required list with a single line of code using list comprehensions. For example If i need to generate multiples of say 27 I write the code using for loop as,

In [13]:
res = []
for i in range(1,11):
    x = 27*i
    res.append(x)
print(res)

[27, 54, 81, 108, 135, 162, 189, 216, 243, 270]

Since you are generating another list altogether and that is what is required, List comprehensions is a more efficient way to solve this problem.

In [14]:
[27*x for x in range(1,11)]

[27, 54, 81, 108, 135, 162, 189, 216, 243, 270]

That's it!. Only remember to enclose it in square brackets

Understanding the code, The first bit of the code is always the algorithm and then leave a space and then write the necessary loop. But you might be wondering can nested loops be extended to list comprehensions? Yes you can.

In [15]:
[27*x for x in range(1,20) if x<=10]

[27, 54, 81, 108, 135, 162, 189, 216, 243, 270]

Let me add one more loop to make you understand better,

In [17]:
[27*z for i in range(50) if i==27 for z in range(1,11)]

[27, 54, 81, 108, 135, 162, 189, 216, 243, 270]

In [18]:
def findMax(x,y):
    if x<y:
        return y
    return x

In [19]:
findMax(10,30)

30

In [20]:
def findMaxFromAList(lst):
    mx = lst[0]
    for i in lst:
        if i>mx:
            mx = i
    return mx

In [21]:
A = [1,2,4,5,0,1,3,6,8,4,5]
findMaxFromAList(A)
A.append(10)
A.append(2)
findMaxFromAList(A)

10

In [22]:
print(A)

[1, 2, 4, 5, 0, 1, 3, 6, 8, 4, 5, 10, 2]

# Calculator

In [23]:
def printTable(x):
    for i in range(10):
        print(str(x) + "*" + str(i+1)+ "=" + str(x*(i+1)))

In [24]:
ch = '+'
while not(ch == 'q'):
    x = input("Enter first Number \t")
    y = input("Enter second Number \t")
    x = float(x)
    y = float(y)
    ch = input("Enter + , -,/ or * , t for table and q quit \t")
    if ch == '+':
        print(x+y)
    elif ch == '-':
        print(x-y)
    elif ch == '/':
        print(x/y)
    elif ch == '*':
        print(x*y)
    elif ch == 'q':
        break
    elif ch == 't':
        printTable(x)
    else:        
        print("Your entered wrong choice")

Enter first Number 	20
Enter second Number 	3
Enter + , -,/ or * , t for table and q quit 	+
23.0
Enter first Number 	13
Enter second Number 	30
Enter + , -,/ or * , t for table and q quit 	*
390.0
Enter first Number 	67
Enter second Number 	54
Enter + , -,/ or * , t for table and q quit 	-
13.0
Enter first Number 	56
Enter second Number 	90
Enter + , -,/ or * , t for table and q quit 	-
-34.0
Enter first Number 	90
Enter second Number 	3
Enter + , -,/ or * , t for table and q quit 	/
30.0
Enter first Number 	3
Enter second Number 	4
Enter + , -,/ or * , t for table and q quit 	*
12.0
Enter first Number 	5
Enter second Number 	3
Enter + , -,/ or * , t for table and q quit 	t
5.0*1=5.0
5.0*2=10.0
5.0*3=15.0
5.0*4=20.0
5.0*5=25.0
5.0*6=30.0
5.0*7=35.0
5.0*8=40.0
5.0*9=45.0
5.0*10=50.0
Enter first Number 	q
Enter second Number 	3

ValueError: could not convert string to float: 'q'

In [25]:
ch = '+'
while not(ch == 'q'):
    x = input("Enter first Number \t")
    y = input("Enter second Number \t")
    x = float(x)
    y = float(y)
    ch = input("Enter + , -,/ or * , t for table and q quit \t")
    if ch == '+':
        print(x+y)
    elif ch == '-':
        print(x-y)
    elif ch == '/':
        print(x/y)
    elif ch == '*':
        print(x*y)
    elif ch == 'q':
        break
    elif ch == 't':
        printTable(x)
    else:        
        print("Your entered wrong choice")

Enter first Number 	4
Enter second Number 	3
Enter + , -,/ or * , t for table and q quit 	q

In [26]:
x = 3.4
i = 5
print(str(x) + "*" + str(i+1)+ "=" + str(x*(i+1)))

3.4*6=20.4